/*************Baseline*******************************************/

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}



/*************Components*******************************************/
.jumbotron {
  background-color: #0cb0c6;
  border: 2px solid #0cb0c6;
  color: white;
  border-radius: 5px;
  /*width: 210%;*/
  height: 50px;
  display: flex;
  padding-left: 20px;
}

.jumbotron h2 {
  display: flex;
  font-weight: 300;
  align-items: flex-end;
  margin-left: -30px;
}

.navbar {
  background-color: rgb(73, 104, 119);
}

.navbar-brand {
  margin-top: -10px; /* special case for our animation room */
}

.media-object {
  width: 60px;
  height: 60px;
}

#mceu_27 {
  height: 50vh;
}

#ember446_ifr {
  height: 100%;
}

.media {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 3px;
  background: rgba(158,158,158,.14);
  border: 1px solid rgba(158, 158, 158, 0.39);
  box-shadow: 1px 1px 1px 0px rgba(211, 211, 211, 0.49);
  text-decoration: none;
}

#articles-listed {
  margin-top:0px;
  margin-bottom:15px;
  width: 555px;
}

/*************Typography*******************************************/

.list-separator {
  border-bottom: 1px solid #31708f;
  border-radius: 0px;
  width: 100%;
}

#admin-select {

}

.admin-button {
  display: none;
}

.thumbnail {

}

.thumbnail img {
  height: 200px;
}

.container {
  height: 100%;
}

#top-img-container {
  width: 600px;
  height: 300px;
  padding: 0;
  margin: 0;
}

#top-img-container img {
    width: 600px;
    height: 300px;
    padding: 0;
    margin: 0px;
    margin-bottom: 15px;
    border-radius: 4px;
}

#textInput {
  white-space: pre-wrap;
}

.article-main-image {
  max-width: 65%;
}

.article-main-image img {
  max-width: 100%;
}


#footer {
    height: 30px;
    width: 100%;
    background-color: rgba(85, 85, 85, 0.15);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px;
}

.article-auth-date {
  border-left: 5px solid #0cb0c6;
}

.article-body {
  margin-top: 10px;
  margin-bottom: 30px;
}

#logo-icon {
  max-width: 150px;
  margin-top: -34px;
}

#panels-blue {
  color: #f5f5f5;
  background-color: #0cb0c6;
  border-color: #ddd;
}

.edit-articles-column {
  border-left: 1px solid lightgrey;
  overflow-y: scroll;
  height: 69vh;
}

.top-article-panel {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-bottom: 2px solid transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
    width: 800px;
    height: 450px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 300;
    color: inherit;
}

.top-panel {
    margin-left: 75px;
}

#ember537_ifr {
   height: 50vh;
}

.footer-btn {
  float: left;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #777
}

.top-article-title {
  margin-top: 5px;
  margin-bottom: 5px;
}






/*************Animations*******************************************/
#admin-header {

}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 300px;
    height: 300px;
    margin-left: -40px;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #ffffff;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #f5f5f5;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #2abcec;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #7ba8c9;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #0cb0c6;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
</style>