.media-object {
  width: 42px;
  height: 42px;
}

.media {
  margin-top: 15px;
  margin-bottom: 15px;
}

#articles-listed {
  margin-top:15px;
  margin-bottom:15px;
}

#admin-select {

}

.admin-button {
  display: none;
}

.thumbnail {

}

.thumbnail img {
  height: 200px;
}

#top-img-container {
  width: 700px;
  height: 400px;
  padding: 20px;
  margin: 10px;
}

#top-img-container img {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;

}

#textInput {
  white-space: pre-wrap;
}

.article-main-image {
  max-width: 1100px;
}

.article-main-image img {
  max-width: 100%;
}


#footer {
  height: 60px;
  width: 100%;
  padding: 15px;
}
#footer {
  background-color: #f5f5f5;
}

.article-body {
  margin-top: 10px;
  margin-bottom: 10px;
}

#logo-icon {
  max-width: 150px;
  margin-top: -34px;
}
