<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          {{#link-to 'index'}}<a class="navbar-brand">Scribble</a>{{/link-to}}
        </div>
        <div id="navbar" class="">
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="#">Admin</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>


<div class="container">
  {{outlet}}
</div> <!-- end container -->

<footer>

</footer>
